[MASTER]
ignore=shared
ignored-modules=pika,psycopg2,pydantic,fastapi,uvicorn,requests,pytest

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W0703, # broad-except
    W0718, # standard-exception
    E0401  # import-error

[FORMAT]
max-line-length=100